.date-time{
	float:left;
	margin-left:10px;
	padding-bottom:5px;
	height:485px;
	width:350px;
	text-align:center;
	border-right:12px solid #53BFF3;
	}
.date{
	font-size:25px;
	padding:0px;
	margin-top:20px;
	}
.time{
	font-size:60px;
	padding:0px;
	margin:0px
	}		
.content{
	background-color:#53BFF3;
	border-radius:5px;
	margin-left:400px;
	margin-right:200px;
	margin-bottom:40px;
	height:420px;
	padding-top:30px;
	padding-left:60px;
	padding-right:30px;
	}
h2{
	font-size:35px;
	}
article{
	font-size:20px;
	}
